/* Define variables for reusability */
$primary-color: #060706;
$secondary-color: #FF6B6B;
body {
    background-color:#e9e4e4
}

h2 {
  color: rgb(219, 219, 225);
  background-color: rgb(190, 59, 59);
}

/* Flexbox styles for product cards grid */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .col-md-4 {
      flex: 1 0 calc(33.333% - 20px); // Adjust the width as needed
  }
}

/* Custom styles for the header */
header {
  background-color: $secondary-color;
  color: white;
  padding: 10px;
  text-align: center;

  h1 {
      font-size: 2rem;
  }
}

