.header {
    text-align: center;
    color: white;
    padding: 10px;
    height: 100px;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100px;
}

.text {
    font-size: 50px;
    margin-left: 10px;
    color: green;
}

.main-content {
    text-align: center;
    align-items: center;
    font-size: 24px;
    margin-left: 30px;
    color: rgb(12, 35, 12);
}


.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

h3 {
    color: rgb(54, 73, 54);
}

.sidenav {
    height: 30%;
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: rgb(190, 230, 173);
}

.sidenav a {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

/* CSS Grid for the main content and sidebar */
.grid-item {
    backgrvscode-file://vscode-app/c:/Users/marle/AppData/Local/Programs/Microsoft%20VS%20Code/resources/app/out/vs/code/electron-sandbox/workbench/workbench.htmlound-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .grid-item {
        grid-template-columns: 1fr;
        background-color: rgb(147, 161, 145); /* For smaller screens, display content in a single column */
    }
}